@import url('https://fonts.googleapis.com/css?family=Sacramento');

h2 {
font-family: 'Sacramento', cursive;
  font-size:36px;
    font-weight:200
}

h1 {
font-family: 'Sacramento', cursive;
    font-size:66px;
    font-weight:200
   
}

li {
font-family: 'Sacramento', cursive;
    font-size:36px;
  font-weight:200
}

#MeandMiri{
    width:376px
}

#sidebar{
    width:20%;
    background-color:#65c0ba;
    float: left;
}
#mainArea {
    width: 80%;
    float: left;
}

.card {
    width: 460px;
    height: 250px;
    margin:20px;
    background-color: #65c0ba;
    float: left;
}

#card1 {
    background-image: url(7.PNG);
    background-size: cover;
}
#card2{
    background-image: url(9.jpg);
    background-size: cover;
}

#card3{
     background-image: url(9.png);
    background-size: cover;
}
.pouButton {
    width: 35%;
    height: 88px;
    margin: 30px;
    background-color: #65c0ba;
        font-size: 70px;
    font-family: 'Sacramento';
    text-align: centre;
}


/*================= KIA TU STYLES ===================*/



#sidebarTU{
    width:17%;
    background-color:#65c0ba;
    float: left;
}





















































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































